.bz-previous{
    background-color: rgba(165, 42, 42, 0.349);
}
.fill{
    color: #FF900E;
}
.empty{
    color: #72727280;
}
.main-body{
    margin: 0;
    padding-right: 0;
    border: 2px solid;
    min-width: 100%;
    overflow-x: hidden;
}